[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
starlette = "*"
fastapi = "*"
uvicorn = "*"
txtai = "*"
openai = "*"
boto3 = "*"
awscli = "*"
botocore = "*"
pillow = "*"

[scripts]
start = "fastapi dev backend/main.py"
