[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
starlette = "*"
fastapi = "*"
uvicorn = "*"
txtai = "*"
openai = "*"
boto3 = "*"
awscli = "*"
botocore = "*"
pillow = "*"
chalice = "*"
slack_bolt = "*"
slack_sdk = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
click = "*"

[scripts]
start = "fastapi dev web_backend/web_app.py"
local_slackbot = "python web_backend/slack_app.py"
