<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/static/style.css">

</head>


<body>
    <header>
        <div class="navbar-fixed">
            <!-- Dropdown Structure -->
            <ul id="evaluation-dropdown" class="dropdown-content">
                <li><a href="/evaluation/dalle">DALL-E 3</a></li>
                <li><a href="/evaluation/titan">Titan</a></li>
            </ul>
  
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">Future Crap</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/docs">API Docs</a></li>
                        <li><a href="/brands">Brands</a></li>
                        <li><a href="/images">History</a></li>

                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-trigger" href="#!" data-target="evaluation-dropdown">Evaluations<i class="material-icons right">arrow_drop_down</i></a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.materialboxed').materialbox();
            $(".dropdown-trigger").dropdown();
        });
    </script>

    {% block scripts %}{% endblock %}
</body>

</html>